html, body {
    width: 70%;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 300;
    text-align: center;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
    background-image: url('images/todoimg.jpg'); 
    background-size:contain;
    background-attachment: fixed;
    color: rgb(88, 35, 40);

}

h2 {
    background-color: rgb(208, 178, 181); 
    padding-bottom: 8px;
  }

.container {
    width: 500px;
    text-align: center;
    padding-bottom: 3%;
    padding-left: 17%;
    background: linear-gradient(135deg,rgb(244, 246, 246));
}

.todo-app{
    width: 100%;
    max-width: 640px;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 100px auto 20px;

}

.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
   
}

input{
    flex: 1;
    padding:10px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    background: transparent;
    font-weight: bold;
}

button{
    padding: 16px 40px;
    border:#070606;
    font-size: 12px;
    cursor: pointer;

}

button:hover{
    background-color: darksalmon;
}
 
ul li{
    list-style: none;
    font-size: 22px;
    font-family: cursive;
    padding: 12px 4px 2px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}
ul li:hover{
    background-color: burlywood;
}
ul li::before{
    content:'';
    position: absolute;
    height: 20px;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: rgb(127, 31, 31);
    text-decoration: line-through;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
}

ul li span:hover{
    background: #c56161;
}